@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

.custom-scroll {
  overflow-y: auto; /* Make sure scroll is enabled */
}

/* Scrollbar width */
.custom-scroll::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.custom-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Thumb */
.custom-scroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Hover */
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.toggleSwitch {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggleSwitch input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggleSwitch label {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 25px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

.toggleSwitch label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

.toggleSwitch input:checked + label {
  background: #bada55;
}

.toggleSwitch input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.toggleSwitch label:active:after {
  width: 130px;
}
