.custom-scroll {
  overflow-y: auto; /* Make sure scroll is enabled */
}

/* Scrollbar width */
.custom-scroll::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.custom-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Thumb */
.custom-scroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Hover */
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}
